<table>
  <tbody>
    <tr>
      <th>Department group ids</th>
      <td>
        <input type="text" id="settings_department_ids" 
                           value="<%= settings['department_ids'] %>" 
                           name="settings[department_ids]" >
      </td>
    </tr>
  </tbody>
</table>
